# Decision Tree Model

### Installs, Dependencies and Setup

In [1]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in c:\users\petra\downloads\new folder\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\petra\downloads\new folder\lib\site-packages (from sklearn) (0.23.2)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\petra\downloads\new folder\lib\site-packages (from scikit-learn->sklearn) (1.5.2)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\petra\downloads\new folder\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\petra\downloads\new folder\lib\site-packages (from scikit-learn->sklearn) (0.17.0)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\petra\downloads\new folder\lib\site-packages (from scikit-learn->sklearn) (1.19.2)

In [2]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
!pip install joblib

Requirement already satisfied: joblib in c:\users\petra\downloads\new folder\lib\site-packages (0.17.0)

In [3]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import datasets
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from matplotlib import pyplot as plt
import os

### Read the CSV and Perform Basic Data Cleaning

In [6]:
# Upload Victims of Crime by State and Territories
file_to_load = "Resources/ABS Crime Victim Data.xlsx"

In [7]:
# Age Offence Data
#Homicide and related offences(c) Data
# Males
Homicide_Male = pd.read_excel(file_to_load,skiprows= range(0, 7),nrows=4, usecols = "A:I",sheet_name = 'Table 11').dropna()
Homicide_Male["Gender"] = "Male"
Homicide_Male["Offence"] = "Homicide and related offences"
Homicide_Male.columns = ["Age","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Gender","Offence"]
Homicide_Male  = Homicide_Male.melt(id_vars=['Age','Gender',"Offence"]) 

# Females

Homicide_Female = pd.read_excel(file_to_load,skiprows= range(0, 13),nrows=4, usecols = "A:I",sheet_name = 'Table 11').dropna()
Homicide_Female["Gender"] = "Female"
Homicide_Female["Offence"] = "Homicide and related offences"
Homicide_Female.columns = ["Age","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Gender","Offence"]
Homicide_Female  = Homicide_Female.melt(id_vars=['Age','Gender',"Offence"]) 

# Assault Data
# Males
Assault_Male = pd.read_excel(file_to_load,skiprows= range(0, 26),nrows=9, usecols = "A:I",sheet_name = 'Table 11').dropna()
Assault_Male["Gender"] = "Male"
Assault_Male["Offence"] = "Assault"
Assault_Male.columns = ["Age_old","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Gender","Offence"]
Assault_Male = Assault_Male.melt(id_vars=['Age_old','Gender',"Offence"])
#Group Data into larger age groups to match the other Offence Data
Assault_Male.loc[(Assault_Male['Age_old'] == "0–9 years")|(Assault_Male['Age_old'] == "10–14 years")|(Assault_Male['Age_old'] == "15–19 years"), 'Age'] = '0-19 years' 
Assault_Male.loc[(Assault_Male['Age_old'] == "20–24 years")|(Assault_Male['Age_old'] == "25–34 years"), 'Age'] = '20–34 years' 
Assault_Male.loc[(Assault_Male['Age_old'] == "35–44 years")|(Assault_Male['Age_old'] == "45–54 years"), 'Age'] = '35–54 years' 
Assault_Male.loc[(Assault_Male['Age_old'] == "55–64 years")|(Assault_Male['Age_old'] == "65 years and over"), 'Age'] = '55 years and over' 
#Assault_Male = Assault_Male.groupby(['Age','State','Offence','Gender'])['Victims'].sum().reset_index()

# Females
Assault_Female = pd.read_excel(file_to_load,skiprows= range(0, 36),nrows=9, usecols = "A:I",sheet_name = 'Table 11').dropna()
Assault_Female["Gender"] = "Female"
Assault_Female["Offence"] = "Assault"
Assault_Female.columns = ["Age_old","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Gender","Offence"]
Assault_Female = Assault_Female.melt(id_vars=['Age_old','Gender',"Offence"])
#Group Data into larger age groups to match the other Offence Data
Assault_Female.loc[(Assault_Female['Age_old'] == "0–9 years")|(Assault_Female['Age_old'] == "10–14 years")|(Assault_Female['Age_old'] == "15–19 years"), 'Age'] = '0-19 years' 
Assault_Female.loc[(Assault_Female['Age_old'] == "20–24 years")|(Assault_Female['Age_old'] == "25–34 years"), 'Age'] = '20–34 years' 
Assault_Female.loc[(Assault_Female['Age_old'] == "35–44 years")|(Assault_Female['Age_old'] == "45–54 years"), 'Age'] = '35–54 years' 
Assault_Female.loc[(Assault_Female['Age_old'] == "55–64 years")|(Assault_Female['Age_old'] == "65 years and over"), 'Age'] = '55 years and over' 

# Sexual Assault Data
# Males
SAssault_Male = pd.read_excel(file_to_load,skiprows= range(0, 59),nrows=9, usecols = "A:I",sheet_name = 'Table 11').dropna()
SAssault_Male["Gender"] = "Male"
SAssault_Male["Offence"] = "Sexual Assault"
SAssault_Male.columns = ["Age_old","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Gender","Offence"]
SAssault_Male = SAssault_Male.melt(id_vars=['Age_old','Gender',"Offence"])
#Group Data into larger age groups to match the other Offence Data
SAssault_Male.loc[(SAssault_Male['Age_old'] == "0–9 years")|(SAssault_Male['Age_old'] == "10–14 years")|(SAssault_Male['Age_old'] == "15–19 years"), 'Age'] = '0-19 years' 
SAssault_Male.loc[(SAssault_Male['Age_old'] == "20–24 years")|(SAssault_Male['Age_old'] == "25–34 years"), 'Age'] = '20–34 years' 
SAssault_Male.loc[(SAssault_Male['Age_old'] == "35–44 years")|(SAssault_Male['Age_old'] == "45–54 years"), 'Age'] = '35–54 years' 
SAssault_Male.loc[(SAssault_Male['Age_old'] == "55–64 years")|(SAssault_Male['Age_old'] == "65 years and over"), 'Age'] = '55 years and over' 

# Females
SAssault_Female = pd.read_excel(file_to_load,skiprows= range(0, 71),nrows=9, usecols = "A:I",sheet_name = 'Table 11').dropna()
SAssault_Female["Gender"] = "Female"
SAssault_Female["Offence"] = "Sexual Assault"
SAssault_Female.columns = ["Age_old","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Gender","Offence"]
SAssault_Female = SAssault_Female.melt(id_vars=['Age_old','Gender',"Offence"])
#Group Data into larger age groups to match the other Offence Data
SAssault_Female.loc[(SAssault_Female['Age_old'] == "0–9 years")|(SAssault_Female['Age_old'] == "10–14 years")|(SAssault_Female['Age_old'] == "15–19 years"), 'Age'] = '0-19 years' 
SAssault_Female.loc[(SAssault_Female['Age_old'] == "20–24 years")|(SAssault_Female['Age_old'] == "25–34 years"), 'Age'] = '20–34 years' 
SAssault_Female.loc[(SAssault_Female['Age_old'] == "35–44 years")|(SAssault_Female['Age_old'] == "45–54 years"), 'Age'] = '35–54 years' 
SAssault_Female.loc[(SAssault_Female['Age_old'] == "55–64 years")|(SAssault_Female['Age_old'] == "65 years and over"), 'Age'] = '55 years and over' 

#Kidnapping/abduction(g) Data
# Males
Kidnap_Male = pd.read_excel(file_to_load,skiprows= range(0, 93),nrows=4, usecols = "A:I",sheet_name = 'Table 11').dropna()
Kidnap_Male["Gender"] = "Male"
Kidnap_Male["Offence"] = "Kidnapping/abduction(g) Data"
Kidnap_Male.columns = ["Age","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Gender","Offence"]
Kidnap_Male  = Kidnap_Male.melt(id_vars=['Age','Gender',"Offence"]) 

# Females
Kidnap_Female = pd.read_excel(file_to_load,skiprows= range(0, 100),nrows=4, usecols = "A:I",sheet_name = 'Table 11').dropna()
Kidnap_Female["Gender"] = "Female"
Kidnap_Female["Offence"] = "Kidnapping/abduction(g) Data"
Kidnap_Female.columns = ["Age","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Gender","Offence"]
Kidnap_Female  = Kidnap_Female.melt(id_vars=['Age','Gender',"Offence"]) 

# Robbery Data
# Males
Robbery_Male = pd.read_excel(file_to_load,skiprows= range(0, 112),nrows=9, usecols = "A:I",sheet_name = 'Table 11').dropna()
Robbery_Male["Gender"] = "Male"
Robbery_Male["Offence"] = "Robbery"
Robbery_Male.columns = ["Age_old","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Gender","Offence"]
Robbery_Male = Robbery_Male.melt(id_vars=['Age_old','Gender',"Offence"])
#Group Data into larger age groups to match the other Offence Data
Robbery_Male.loc[(Robbery_Male['Age_old'] == "0–9 years")|(Robbery_Male['Age_old'] == "10–14 years")|(Robbery_Male['Age_old'] == "15–19 years"), 'Age'] = '0-19 years' 
Robbery_Male.loc[(Robbery_Male['Age_old'] == "20–24 years")|(Robbery_Male['Age_old'] == "25–34 years"), 'Age'] = '20–34 years' 
Robbery_Male.loc[(Robbery_Male['Age_old'] == "35–44 years")|(Robbery_Male['Age_old'] == "45–54 years"), 'Age'] = '35–54 years' 
Robbery_Male.loc[(Robbery_Male['Age_old'] == "55–64 years")|(Robbery_Male['Age_old'] == "65 years and over"), 'Age'] = '55 years and over' 

# Females
Robbery_Female = pd.read_excel(file_to_load,skiprows= range(0, 124),nrows=9, usecols = "A:I",sheet_name = 'Table 11').dropna()
Robbery_Female["Gender"] = "Female"
Robbery_Female["Offence"] = "Robbery"
Robbery_Female.columns = ["Age_old","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Gender","Offence"]
Robbery_Female = Robbery_Female.melt(id_vars=['Age_old','Gender',"Offence"])
#Group Data into larger age groups to match the other Offence Data
Robbery_Female.loc[(Robbery_Female['Age_old'] == "0–9 years")|(Robbery_Female['Age_old'] == "10–14 years")|(Robbery_Female['Age_old'] == "15–19 years"), 'Age'] = '0-19 years' 
Robbery_Female.loc[(Robbery_Female['Age_old'] == "20–24 years")|(Robbery_Female['Age_old'] == "25–34 years"), 'Age'] = '20–34 years' 
Robbery_Female.loc[(Robbery_Female['Age_old'] == "35–44 years")|(Robbery_Female['Age_old'] == "45–54 years"), 'Age'] = '35–54 years' 
Robbery_Female.loc[(Robbery_Female['Age_old'] == "55–64 years")|(Robbery_Female['Age_old'] == "65 years and over"), 'Age'] = '55 years and over' 

#Blackmail/extortion Data
# Males
BlmExt_Male = pd.read_excel(file_to_load,skiprows= range(0, 147),nrows=4, usecols = "A:I",sheet_name = 'Table 11').dropna()
BlmExt_Male["Gender"] = "Male"
BlmExt_Male["Offence"] = "Blackmail Extortion"
BlmExt_Male.columns = ["Age","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Gender","Offence"]
BlmExt_Male  = BlmExt_Male.melt(id_vars=['Age','Gender',"Offence"]) 

# Females

BlmExt_Female = pd.read_excel(file_to_load,skiprows= range(0, 153),nrows=4, usecols = "A:I",sheet_name = 'Table 11').dropna()
BlmExt_Female["Gender"] = "Female"
BlmExt_Female["Offence"] = "Blackmail Extortion"
BlmExt_Female.columns = ["Age","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Gender","Offence"]
BlmExt_Female  = BlmExt_Female.melt(id_vars=['Age','Gender',"Offence"])

In [8]:
Model_Data = Homicide_Male.append([Homicide_Female,Assault_Male,Assault_Female,SAssault_Male,SAssault_Female
,Kidnap_Male,Kidnap_Female,Robbery_Male,Robbery_Female,BlmExt_Male,BlmExt_Female])
Model_Data = Model_Data.drop(columns=['Age_old'])
Model_Data.columns = ['Age','Gender',"Offence","State","Victims"]
Model_Data = Model_Data[["Offence","State",'Age','Gender',"Victims"]]
Model_Data['Victims'] = Model_Data['Victims'].replace(['np'],0)
Model_Data

                          Offence State                Age  Gender  Victims
0   Homicide and related offences   NSW         0–19 years    Male      0.0
1   Homicide and related offences   NSW        20–34 years    Male     16.0
2   Homicide and related offences   NSW        35–54 years    Male     34.0
3   Homicide and related offences   NSW  55 years and over    Male      9.0
4   Homicide and related offences   VIC         0–19 years    Male      5.0
..                            ...   ...                ...     ...      ...
27            Blackmail Extortion    NT  55 years and over  Female      0.0
28            Blackmail Extortion   ACT         0–19 years  Female      0.0
29            Blackmail Extortion   ACT        20–34 years  Female      0.0
30            Blackmail Extortion   ACT        35–54 years  Female      0.0
31            Blackmail Extortion   ACT  55 years and over  Female      0.0

[592 rows x 5 columns]

In [10]:
# Get Population Factor to get accurate risk of Crime by State, Gender and Age
file_to_load2 = "Resources/Population_Australia.xls"

#Summary of the Male Population
Population_Males = pd.read_excel(file_to_load2,skiprows= range(0, 5),nrows=108, usecols = "A:I",sheet_name = 'Table_8').dropna()
Population_Males.columns = ["Age_old","NSW","VIC","QLD","SA","WA","TAS","NT","ACT"]

Population_MAge1 = Population_Males[Population_Males['Age_old'].isin(['1','2','3','4',"5-9","10-14","10-14","15-19"])]
Population_MAge1["Age"] = "0-19 years"

Population_MAge2 = Population_Males[Population_Males['Age_old'].isin(["20-24","25-29","30-34"])]
Population_MAge2["Age"] = "20–34 years"

Population_MAge3 = Population_Males[Population_Males['Age_old'].isin(["35-39","40-44","45-49","50-54"])]
Population_MAge3["Age"] = "35–54 years"

Population_MAge4 = Population_Males[Population_Males['Age_old'].isin(["55-59","60-64","65-69","70-74","75-79","80-84",                                                                  
                                                                      "85-89","90-94","95-99","100 and over"])]
Population_MAge4["Age"] = "55 years and over"
Population_MAge = Population_MAge1.append([Population_MAge2,Population_MAge3,Population_MAge4])
Population_MAge.columns = ["Age_old","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Age"]
Population_MAge = Population_MAge.drop(columns=['Age_old'])
Population_MAge  = Population_MAge.melt(id_vars=['Age']).dropna()
Population_MAge = Population_MAge.groupby(['Age','variable'])['value'].sum().reset_index()
Population_MAge["Gender"] = "Male"
Population_MAge.columns = ["Age","State","Population","Gender"]
Population_MAge

#Summary of the Female Population

Population_Females = pd.read_excel(file_to_load2,skiprows= range(0, 113),nrows=108, usecols = "A:I",sheet_name = 'Table_8').dropna()
Population_Females.columns = ["Age_old","NSW","VIC","QLD","SA","WA","TAS","NT","ACT"]

Population_FAge1 = Population_Females[Population_Females['Age_old'].isin(['1','2','3','4',"5-9","10-14","10-14","15-19"])]
Population_FAge1["Age"] = "0-19 years"

Population_FAge2 = Population_Females[Population_Females['Age_old'].isin(["20-24","25-29","30-34"])]
Population_FAge2["Age"] = "20–34 years"

Population_FAge3 = Population_Females[Population_Females['Age_old'].isin(["35-39","40-44","45-49","50-54"])]
Population_FAge3["Age"] = "35–54 years"

Population_FAge4 = Population_Females[Population_Females['Age_old'].isin(["55-59","60-64","65-69","70-74","75-79","80-84",                                                                  
                                                                      "85-89","90-94","95-99","100 and over"])]
Population_FAge4["Age"] = "55 years and over"
Population_FAge = Population_FAge1.append([Population_FAge2,Population_FAge3,Population_FAge4])
Population_FAge.columns = ["Age_old","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Age"]
Population_FAge = Population_FAge.drop(columns=['Age_old'])
Population_FAge  = Population_FAge.melt(id_vars=['Age']).dropna()
Population_FAge = Population_FAge.groupby(['Age','variable'])['value'].sum().reset_index()
Population_FAge["Gender"] = "Female"
Population_FAge.columns = ["Age","State","Population","Gender"]
Population_MAge

Total_Pop = Population_MAge.append(Population_FAge)
Total_Pop.head(20)

<ipython-input-10-c9596dc49052>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Population_MAge1["Age"] = "0-19 years"
<ipython-input-10-c9596dc49052>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Population_MAge2["Age"] = "20–34 years"
<ipython-input-10-c9596dc49052>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Population_MAge3["Age"] = "35–54 years"
<ipython-input-10-c9596dc49052>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Population_MAge4["Age"] = "55 years and over"
<ipython-input-10-c9596dc49052>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Population_FAge1["Age"] = "0-19 years"
<ipython-input-10-c9596dc49052>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Population_FAge2["Age"] = "20–34 years"
<ipython-input-10-c9596dc49052>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Population_FAge3["Age"] = "35–54 years"
<ipython-input-10-c9596dc49052>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Population_FAge4["Age"] = "55 years and over"

            Age State  Population Gender
0    0-19 years   ACT     52188.0   Male
1    0-19 years   NSW    967110.0   Male
2    0-19 years    NT     33210.0   Male
3    0-19 years   QLD    644765.0   Male
4    0-19 years    SA    201481.0   Male
5    0-19 years   TAS     61582.0   Male
6    0-19 years   VIC    778338.0   Male
7    0-19 years    WA    327529.0   Male
8   20–34 years   ACT     50271.0   Male
9   20–34 years   NSW    888620.0   Male
10  20–34 years    NT     31576.0   Male
11  20–34 years   QLD    531855.0   Male
12  20–34 years    SA    176854.0   Male
13  20–34 years   TAS     50424.0   Male
14  20–34 years   VIC    779215.0   Male
15  20–34 years    WA    279637.0   Male
16  35–54 years   ACT     59703.0   Male
17  35–54 years   NSW   1041631.0   Male
18  35–54 years    NT     35419.0   Male
19  35–54 years   QLD    658355.0   Male

In [11]:
# Combine Population information to the Model Data 
Model_Pop_Data = pd.merge(Model_Data ,Total_Pop,on = ["Age","State","Gender"])
Model_Pop_Data["VicbyPop"] = (Model_Pop_Data["Victims"]/Model_Pop_Data["Population"])
Model_Pop_Data

,Offence,State,Age,Gender,Victims,Population,VicbyPop
0,Homicide and related offences,NSW,20–34 years,Male,16.0,888620.0,0.000018
1,Assault,NSW,20–34 years,Male,3918.0,888620.0,0.004409
2,Assault,NSW,20–34 years,Male,7958.0,888620.0,0.008955
3,Sexual Assault,NSW,20–34 years,Male,109.0,888620.0,0.000123
4,Sexual Assault,NSW,20–34 years,Male,167.0,888620.0,0.000188
...,...,...,...,...,...,...,...
539,Sexual Assault,ACT,0-19 years,Female,27.0,48816.0,0.000553
540,Sexual Assault,ACT,0-19 years,Female,62.0,48816.0,0.001270
541,Robbery,ACT,0-19 years,Female,0.0,48816.0,0.000000
542,Robbery,ACT,0-19 years,Female,4.0,48816.0,0.000082
543,Robbery,ACT,0-19 years,Female,6.0,48816.0,0.000123

In [12]:
# Get Min Max Values for each Offence 
Victims_Data = Model_Pop_Data.groupby('Offence').agg({'VicbyPop' : ['mean','min','max','std']})
Model_Data1 = pd.merge(Model_Pop_Data ,Victims_Data,on = "Offence",how = 'left')
Model_Data1.columns = ["Offence","State","Age","Gender","Victims","Population","VictimsbyPop","Mean","Min","Max","Std"]
Model_Data1['Likelihood Measure'] = np.where(Model_Data1['VictimsbyPop'] >= Model_Data1['Mean'], 1, 0)
Model_Data1

C:\Users\Petra\Downloads\New folder\lib\site-packages\pandas\core\reshape\merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

,Offence,State,Age,Gender,Victims,Population,VictimsbyPop,Mean,Min,Max,Std,Likelihood Measure
0,Homicide and related offences,NSW,20–34 years,Male,16.0,888620.0,0.000018,0.000017,0.0,0.000098,0.000022,1
1,Assault,NSW,20–34 years,Male,3918.0,888620.0,0.004409,0.004471,0.0,0.054038,0.007200,0
2,Assault,NSW,20–34 years,Male,7958.0,888620.0,0.008955,0.004471,0.0,0.054038,0.007200,1
3,Sexual Assault,NSW,20–34 years,Male,109.0,888620.0,0.000123,0.000492,0.0,0.003144,0.000608,0
4,Sexual Assault,NSW,20–34 years,Male,167.0,888620.0,0.000188,0.000492,0.0,0.003144,0.000608,0
...,...,...,...,...,...,...,...,...,...,...,...,...
539,Sexual Assault,ACT,0-19 years,Female,27.0,48816.0,0.000553,0.000492,0.0,0.003144,0.000608,1
540,Sexual Assault,ACT,0-19 years,Female,62.0,48816.0,0.001270,0.000492,0.0,0.003144,0.000608,1
541,Robbery,ACT,0-19 years,Female,0.0,48816.0,0.000000,0.000157,0.0,0.001267,0.000179,0
542,Robbery,ACT,0-19 years,Female,4.0,48816.0,0.000082,0.000157,0.0,0.001267,0.000179,0
543,Robbery,ACT,0-19 years,Female,6.0,48816.0,0.000123,0.000157,0.0,0.001267,0.000179,0

In [13]:
#Final Model Dataset
Final_Model_Data = Model_Data1.drop(columns=['Min','Max','Std','Mean','VictimsbyPop','Population','Victims'])
Final_Model_Data = Final_Model_Data.sort_values(by=['Offence','State','Age','Gender','Likelihood Measure'])
Final_Model_Data

            Offence State                Age  Gender  Likelihood Measure
535         Assault   ACT         0-19 years  Female                   0
536         Assault   ACT         0-19 years  Female                   0
537         Assault   ACT         0-19 years  Female                   0
463         Assault   ACT         0-19 years    Male                   0
464         Assault   ACT         0-19 years    Male                   0
..              ...   ...                ...     ...                 ...
108  Sexual Assault    WA        35–54 years    Male                   0
109  Sexual Assault    WA        35–54 years    Male                   0
316  Sexual Assault    WA  55 years and over  Female                   0
317  Sexual Assault    WA  55 years and over  Female                   0
117  Sexual Assault    WA  55 years and over    Male                   0

[544 rows x 5 columns]

In [19]:
offence = Final_Model_Data["Offence"].unique()
offence

array(['Assault', 'Blackmail Extortion', 'Homicide and related offences',
       'Kidnapping/abduction(g) Data', 'Robbery', 'Sexual Assault'],
      dtype=object)

In [20]:
state = Final_Model_Data["State"].unique()
state

array(['ACT', 'NSW', 'NT', 'QLD', 'SA', 'TAS', 'VIC', 'WA'], dtype=object)

In [21]:
gender = Final_Model_Data["Gender"].unique()
gender

array(['Female', 'Male'], dtype=object)

In [22]:
age = Final_Model_Data["Age"].unique()
age

array(['0-19 years', '20–34 years', '35–54 years', '55 years and over'],
      dtype=object)

In [18]:
# Final_Model_Data_csv = Final_Model_Data.to_csv('Resources/Final_Model_Data.csv')

In [14]:
# Decision Tree Model
target = Final_Model_Data["Likelihood Measure"]
target_names = ["Likely", "Unlikely"]

data = Final_Model_Data.drop("Likelihood Measure", axis=1)
#feature_names = ["Offence", "State","Age","Gender"]
data.head()
#pd.set_option('display.max_rows', None)
#print(data)

     Offence State         Age  Gender
535  Assault   ACT  0-19 years  Female
536  Assault   ACT  0-19 years  Female
537  Assault   ACT  0-19 years  Female
463  Assault   ACT  0-19 years    Male
464  Assault   ACT  0-19 years    Male

In [15]:
from sklearn.feature_extraction import DictVectorizer

X_dict = data.T.to_dict().values()

vect = DictVectorizer(sparse=False)
X_vector = vect.fit_transform(X_dict)

X_dict
X_vector

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.]])

### Create a Train Test Split

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_vector, target)

In [ ]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

In [ ]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

### Save the Model

In [ ]:
import joblib
joblib.dump(rf, "model,pkl")

In [ ]:
from CrimeModel import CrimeModel

In [ ]:
model = CrimeModel()
input_1 = ["20-34", , 80000, 400000, 400000]
print(f"The prediction for {input_1} is {model.predict(input_1)}")


input_2 = [20, 150000, 50000, 100000, 0]
print(f"The prediction for {input_2} is {model.predict(input_2)}")

In [ ]:
model_reimport = joblib.load("model.pkl")
model_reimport.predict()